.nav-entry {
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  border-right: 8px solid transparent;
  box-sizing: border-box;
  display: flex;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.is-selected {
  border-right-color: orange;
  background-color: #FFF3E0;
}
