.nav-entry {
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  border-right: 8px solid transparent;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(to bottom right, rgb(169, 169, 169), rgb(255, 255, 255));
  width: 200px;

}

a.nav-entry.active {
  background-image: linear-gradient(to bottom right, rgb(86, 86, 86), rgb(255, 255, 255));
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 5px;
}

nav {
  padding-top: 15px;
}

.PropertyList.MainDiv {
  position: absolute;
  overflow-y: auto;
  margin-top: 20px;
  top: 5em;
  left: 2.5em;
  bottom: 0;
  z-index: 0;
}

.PropertyList.MainNav {
  padding-top: 0;
}
