.nav-entry {
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #DFDFDF;
  border-right: 8px solid transparent;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(to bottom right, #1E2430, rgb(103, 103, 103)); */
  width: 200px;

}

a.nav-entry.active {
  background-image: linear-gradient(to bottom right, #1E2430, #3a4a69);
  border-bottom: 3px solid #528afa;
  border-right: 3px solid #528afa;
  border-radius: 5px;
  font-weight: bold;
}

.Prop-List-primary-text {
  max-width: 175px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

nav {
  padding-top: 15px;
}

.PropertyList.MainDiv {
  position: absolute;
  overflow-y: auto;
  margin-top: 20px;
  top: 5em;
  left: 2em;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.PropertyList.MainNav {
  padding-top: 0;
}
