.AddPropertyForm {
  position: absolute;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E2430;
  color: white;
  padding: 15px;
  border-radius: 5px;
  top: 5.25em;
  left: 1.5em;
  z-index: 1;
  border: 5px #528afa solid;
}

.AddPropertyFormInner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.property-create-header {
  display: flex;
  align-self: flex-start;
}

.AddPropertyFormLvl1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.AddPropertyFormLvl2 {
  margin-left: 5px;
}

.AddPropertyFormLvl3 {
  align-self: center;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px
}

.AddNewPropButton {
  margin: 7px;
  padding: 3px;
  border-radius: 10px;
  background-color: #528afa;
  color: black;
  position: absolute;
  top: 4.25em;
  left: 6.25em;
  z-index: 0;
}
