.NotesDisplayContainer {
  border-top: .5px solid #1E2430;
  border-bottom: .5px solid #1E2430;
  background-color: #f0f0f0;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.NoteDesctiption {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.NoteDetailBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoteDetailBtn {
  margin: 10px;
  height: 30px;
  background-color: #1E2430;
  color: white;
  border-radius: 10px;
}
