.PropertyEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: grey;
  padding: 15px;
  font-weight: bold;
}

.PropertyEdit {
  display: flex;
}

.SoloPropContainer {
  display: flex;
}

.Container1 {
  flex-grow: 1;
}

.Container2 {
  width: 400px;
  background-color: black;
}
