.PropEditDeleteBtns {
  display: flex;
  align-items: center;
}

.EditPropertyForm {
  display: flex;
  align-items: center;
  z-index: 3;
}

.EditPropertyFormLvl1 {
  margin: 5px;
}

.EditPropertyFormLvl2 {
  margin: 10px;
}

.EditPropertyFormLvl3 {
  height: 30px;
  width: auto;
  align-self: center;
  margin: 10px;
}
