.AddPropertyForm {
  position: absolute;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: bisque;
  padding: 15px;
  border-radius: 5px;
  top: 5.25em;
  left: 1.5em;
  z-index: 1;
}

.AddPropertyFormLvl1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.AddPropertyFormLvl2 {
  margin-left: 5px;
}

.AddPropertyFormLvl3 {
  align-self: center;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.AddNewPropButton {
  margin: 7px;
  padding: 3px;
  border-radius: 10px;
  background-color: black;
  color: white;
  position: absolute;
  top: 4.25em;
  left: 4.5em;
  z-index: 0;
}
