/* TODO Add site wide styles */
html, body {
    margin:0px;
    height:100%;
    font-size: 15px;
  }

.TopLevelParentContainer {
    display: flex;
    position:absolute;
    top:0px;
    right:0px;
    bottom:15px;
    left:0px;
}


.LandingNav {
    background-color: brown;
    min-width: 20em;
    height: 100%;
}

.TopLevelInternalContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.BottomLevelInternalContainer {
    display: flex;
    flex-grow: 1;
    height: 90vh;
    background-color: bisque;
}
