.ModalBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(160, 160, 160);
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}

.HomeBtn {
    text-decoration: none;
    background-color: azure;
    border-radius: 5px;
    padding: 7px;
}

.ModalBtns {
    display: flex;
}

.SignupFormModal {
    margin: 15px;
}

.LoginFormModal {
    margin: 15px;
}

.MainNav {
    padding: 15px;
    top: 0;
}

.Properties.Nav{
    height: 90vh;
}

.PropertiesNav.Internal {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
